In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('ds.csv')

In [3]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [4]:
concepts=np.array(data)[:,:-1]

In [5]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [6]:
target=np.array(data)[:,-1]

In [7]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [8]:
def train(con, tar): 
    for i,val in enumerate(tar):
        if val =='yes':
            specific_h=con[i].copy()
            break
    for i, val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] !=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [9]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']

In [ ]:
data=pd.read_csv('promotion.csv')

In [11]:
data

  Experience Performance Qualification Training Promote
0       High   Excellent            PG      Yes     Yes
1       High        Good            PG      Yes     Yes
2     Medium        Good            PG      Yes     Yes
3        Low     Average            UG       No      No
4     Medium     Average            UG       No      No
5        Low        Poor            UG       No      No

In [12]:
concepts=np.array(data)[:,:-1]

In [13]:
concepts

array([['High', 'Excellent', 'PG', 'Yes'],
       ['High', 'Good', 'PG', 'Yes'],
       ['Medium', 'Good', 'PG', 'Yes'],
       ['Low', 'Average', 'UG', 'No'],
       ['Medium', 'Average', 'UG', 'No'],
       ['Low', 'Poor', 'UG', 'No']], dtype=object)

In [14]:
target=np.array(data)[:,-1]

In [15]:
target

array(['Yes', 'Yes', 'Yes', 'No', 'No', 'No'], dtype=object)

In [16]:
def trains(con, tar):
    specific_h=None
    for i,val in enumerate(tar):
        if val =='Yes':
            specific_h=con[i].copy()
            break
    for i, val in enumerate(con):
        if tar[i]=='Yes':
            for x in range(len(specific_h)):
                if val[x] !=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [17]:
print(trains(concepts,target))

['?' '?' 'PG' 'Yes']